---
import Gallery from "@/components/Gallery.astro";
import Divider from "@/components/Divider.astro";
import Title from "@/components/Title.astro";

const images = [
  { src: "/photos/novios1.webp", alt: "Novios Sonriendo Juntos" },
  { src: "/photos/novios2.webp", alt: "Novio Tomando Mano De La Novia" },
  { src: "/photos/novios3.webp", alt: "Novios En La Asamblea" },
  { src: "/photos/novios4.webp", alt: "Novios Sonriendo Juntos" },
  { src: "/photos/novios5.webp", alt: "Novios Junto Al Lago" },
  { src: "/photos/novios6.webp", alt: "Mano De Novia Con Anillo" },
  { src: "/photos/novios7.webp", alt: "Novios En Cafeteria" },
  { src: "/photos/novios8.webp", alt: "Foto romántica de los novios" },
  { src: "/photos/novios9.webp", alt: "Novia Con Ramo De Flores" },
  { src: "/photos/novios10.webp", alt: "Novios En El Salon Del Reino" },
  { src: "/photos/novios11.webp", alt: "Novios Al Aire Libre" },
  { src: "/photos/novios12.webp", alt: "Novios Juntos En Restaurante" }
];
---

<section>
    <div
        class="max-w-[1140px] phone:w-full phone:px-2 mx-auto mb-12 mt-12 desktop:mb-14 desktop:mt-24 text-color01 flex gap-3 justify-center items-center flex-col"
    >
        <Title title="Nuestra Historia" />
        <span
            class="font-rubik desktop:text-xl text-center font-extralight text-gray-400"
        >
            Capturamos momentos que cuentan nuestra historia
        </span>
    </div>
    <Gallery images={images} />
    <Divider />
</section>
